# 1. Monthly Bill Tracker

In [1]:
bills = [1500, 2000, 3000]
total = 0

for bill in bills:
    print(f"Bill: {bill}")
    total += bill

print(f"Total: {total}")

Bill: 1500
Bill: 2000
Bill: 3000
Total: 6500

# 2. School Attendance

In [2]:
students = ["John", "Mary", "Alex"]

for student in students:
    print(f"{student} Present")

John Present
Mary Present
Alex Present

# 3. Salary Distribution

In [3]:
bonuses = {"John": 5000, "Mary": 6000}

for name, amount in bonuses.items():
    print(f"{name}: {amount}")

John: 5000
Mary: 6000

# 4. Grade Report

In [4]:
scores = [85, 92, 76, 61]

for score in scores:
    if score >= 90: grade = "A"
    elif score >= 80: grade = "B"
    elif score >= 70: grade = "C"
    else: grade = "F"
    print(f"Score: {score}, Grade: {grade}")

Score: 85, Grade: B
Score: 92, Grade: A
Score: 76, Grade: C
Score: 61, Grade: F

# 5. Book Availability

In [5]:
books = ["Python Basics", "Data Science"]
search = input("Enter book title: ")

found = "Not Available"
for book in books:
    if book == search:
        found = "Available"
        break
print(found)

Enter book title:  python basics

Not Available

# 6. Temperature Analysis

In [6]:
temps = [30, 32, 28, 35, 29]
high, low = temps[0], temps[0]

for t in temps:
    if t > high: high = t
    if t < low: low = t

print(f"Highest: {high}, Lowest: {low}")

Highest: 35, Lowest: 28

# 7. Inventory Management

In [7]:
inventory = {"Apples": 5, "Bananas": 20}

for item, qty in inventory.items():
    if qty < 10:
        print(f"Low Stock: {item}")

Low Stock: Apples

# 8. Flight Seat Booking

In [8]:
seats = [1, 2, 3, 4]
booked = [2, 4]

for seat in seats:
    status = "Booked" if seat in booked else "Available"
    print(f"Seat {seat}: {status}")

Seat 1: Available
Seat 2: Booked
Seat 3: Available
Seat 4: Booked

# 9. Savings Interest Calculator

In [9]:
balances = [5000, 5200, 5300]
total_interest = 0

for bal in balances:
    total_interest += bal * 0.0005

print(f"Total Interest: {total_interest}")

Total Interest: 7.75

# 10. Customer Feedback Analyzer

In [10]:
feedback = ["Great service", "Poor product"]

for comment in feedback:
    if "service" in comment:
        print(comment)

Great service